<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="db.test.razerinsure">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.razerinsure.PaymentActivity"
            android:label="@string/title_activity_payment" />
        <activity
            android:name="com.razerinsure.ui.TravelPlanActivity"
            android:label="TravelPlanActivity" />
        <activity
            android:name="com.razerinsure.ui.checkout.CheckoutActivity"
            android:label="@string/title_coverage_header" />
        <activity
            android:name="com.razerinsure.ui.MyPoliciesActivity"
            android:label="My Policies" />
        <activity
            android:name="com.razerinsure.ClaimProcessActivity"
            android:label="Claim Process" />
        <activity
            android:name="com.razerinsure.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>